@import "../css/variables.css";
@import "./theam.scss";
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  background-color: var(--skyBlueBackground);
  form {
    background-color: var(--white);
    width: 27rem;
    padding: 1rem;
    h1 {
      text-align: center;
      color: var(--blue_bold_text);
      padding-bottom: 0.5rem;
      border-bottom: 2px solid var(--gray-border);
      margin-left: -1rem;
      margin-right: -1rem;
    }
    input[type="text"],
    [type="email"] {
      width: 100%;
      box-sizing: border-box;
      &::placeholder {
        color: var(--placeHolderColor);
      }
    }
    button {
      width: 100%;
    }
  }
  .link{
    text-align: center;
    display: block;
    font-family: "Open Sans";
    font-size: 0.8rem;
  }
}
